<div class="container">
    <div class="d-container">
        <div class="bd">
            <div class="in-db">
                <div class="models">
                    <div class="f-d">
                        <img src="/Verna-Model-23-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Verna-Model-22-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-24-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-27-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-28-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-30-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-32-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-33-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-17.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-26-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-29-1536x691.jpg" class="m-img" alt="">
                    </div>
                </div>
                <div class="models">
                    <div class="f-d">
                        <img src="/Site-Banner-Verna-Model-31.jpg" class="m-img" alt="">
                    </div>
                </div>
            </div>

        </div>
        <div class="right-menu">
            <div class="top-m">
                <nav>
                    <ul class="m-ul">
                        <li>همه</li>
                        <li>تولیدات ورنا</li>
                        <li>هودی</li>
                        <li>دورس</li>
                        <li>شلوار</li>
                        <li>پیراهن</li>
                        <li>کلاسیک</li>
                        <li>کاپشن</li>
                        <li>ژاکت</li>
                        <li>ست</li>
                        <li>کفش و کتونی</li>
                        <li>اکسستوری</li>
                        <li>بافت</li>
                    </ul>
                </nav>
            </div>
            <div class="bottom-m">
                <p class="contact" id="spesial">راه های ارتباطی</p>
                <p class="contact"><i>Telephone:</i>۰۹۱۱۵۰۰۱۸۸۰</p>
                <p class="contact"><i>Telephone:</i>۰۹۰۱۳۳۳۳۲۳۸</p>
                <p class="contact"><i>Telephone:</i>۰۱۳۳۳۵۷۰۲۴۲</p>
                <p class="contact">   آدرس : رشت، میدان یخسازی  
                    به سمت جهاد، اولین پل عابر پیاده</p>





           
            </div>
        </div>
    </div>
</div>