<header>
    <nav>
        <div class="container"> 
            <div class="div-head">
                <p class="h-p">ورود/ ثبت نام</p>
            </div>
            <div class="div-head1">
                <div class="h-img">
                    <img src="/Top-Site-White.png" alt="baner" id="verna">
                </div>
            </div>
            <div class="div-head">
                <ul class="h-ul">
                    <li class="h-li">درباره ما</li>
                    <li class="h-li">مجله ورنا</li>
                    <li class="h-li">تماس بامت</li>
                    <li class="h-li">خانه</li>
                </ul>
            </div>
        </div>
    </nav>
</header>