/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-color: rgb(255, 144, 84);
}
ul li{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}